#start-screen {
    text-align: center;
    background-color: #1010C7;
    font-size: 60px;
    height: 50%;
    font-family: 'Roboto mono';

}
body {
    background-color: black;
}
p {
    color: silver;
    font-family: 'Roboto mono';
    text-align: center;
    padding: 50px;
    display: hidden;
}
.button{
    text-align: center;
}
#game-start {
    text-align: center;
}
footer {
text-align: center;

}
span:hover{
    
    background-color: blue;
    display: none;
}
    
span {
    visibility:;
}
